<div teacher-nav></div>
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="#/teacher">首页</a>
        </li>
        <li class="active">个人资料</li>
    </ol>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">教师编号:</div>
                <div class="col-xs-8">{{teacherInfo.userNo}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">姓名:</div>
                <div class="col-xs-8">{{teacherInfo.userName}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">性别:</div>
                <div class="col-xs-8">{{teacherInfo.gender}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">教学方向:</div>
                <div class="col-xs-8">{{teacherInfo.major}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">入职时间:</div>
                <div class="col-xs-8">{{teacherInfo.entitleTime|date:"yyyy-MM-dd"}}</div>
            </div>
        </li>
    </ul>
</div>